Backend/bin/
Backend/obj/

Backend/*.user
Backend/*.suo
Backend/*.userprefs

Backend/*.log

Backend/*.tmp
Backend/*.temp

Backend/.env

Backend/.vscode/
Backend/.idea/

Backend/*.nupkg
Backend/packages/
